# Build artifacts
build/

# ISO staging directory
IsoRoot/



# Output binaries
*.iso
*.elf
*.bin

# Editor / IDE
.vscode/
.cache
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Compiled objects (extra safety)
*.o
*.a
*.so
